{% include  "grunge/base.html" %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body style="background-color:EFF0F0">
    
    {% block content %}
    
    <h1>Create Playlist</h1>
    

    <div id="container"  class="container my-5" style="background-color:white"> 
      <form id="form-container" method="POST">
      
            {% load crispy_forms_tags %}  
              {% csrf_token %}
              {{formset.management_form}}
              {% for form in formset %}
              <div class="playlist-form">
                  {{form|crispy}}
                    {% for error in form.errors %}
                  {% endfor %}
              </div>
              
              {% endfor %}
              
              <button class="btn btn-primary" type="button" id ='add-form'> Add </button>
                          
                          
              <button class="btn btn-success" type="submit" id ='submit_form'> Create </button>
                          
          </form>
        </div>
    
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <script>
        let playlistForm = document.querySelectorAll(".playlist-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = playlistForm.length-1
        addButton.addEventListener('click', addForm)
        function addForm(e){
            e.preventDefault()

            {% comment %} $("#delete_last_form").html(`<button id="delete-form" type="button"   class="btn btn-danger">delete form</button>`) {% endcomment %}
           
            let newForm = playlistForm[0].cloneNode(true)
            
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)
            
            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>

    {% endblock content %}
</body>